
@font-face {
    font-family: Yesterday;
    src: url(fonts/YesterdayMorning_PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: cafe;
    src: url(fonts/Louis\ George\ Cafe.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cafe;
}

header{
    height: 80px;
    width: 100%;
    padding: 20px;
    background-color: #8C7983;
    display: flex;
    justify-content: space-between;
}

.barra ul{
    list-style: none;
}

.barra ul li{
    display: inline-block;
}

.barra a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;

}

.barra a:hover{
    color: black;
}

.call{
    width: 100%;
    height: 700px;
    color: black;
    /* background-color: rgba(51, 51, 51, 0.226); */
    text-align: center;
    background-image: url(images/portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.presentacion p{
    text-align: center;
    font-size: 30px;
}

#bienvenido{
    font-family: yesterday;
    font-size: 50px;
}

.guia{
    text-align: center;
    font-size: 30px;
}

.consultaGuia{
    margin-top: 10px;
    padding: 10px;
    background-color: #8C7983;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 10px;
    border-style: double;
}

.guiaIza{
    display: inline;
}

.guiaDer{
    display: inline;
}

.guiaIza img{
    width: 25%;
}

.guiaDer img{
    width: 29%;
}

.textoCursos{
    text-align: center;
    font-size: 30px;
}

main .curso1{
    background-color: #8C7983;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.curso1 img{
    width: 30%;
}

main .curso2{
    background-color: #8C7983;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.curso2 img{
    width: 15%;
}

.promoción{
    text-align: center;
}

.descuentoPasaje{
    margin-top: 10px;
    padding: 10px;
    background-color: #8C7983;
    text-decoration: none;
    color: white;
    float: center;
    border-radius: 10px;
    border-style: double;
}

.proponemos{
    text-align: center;
    font-size: 30px;
}

.argentina{
    font-family: yesterday;
    font-size: 60px;
}

.lista{
    margin: 10px;
    padding: 10px;
}

.video{
    margin: 10px;
    padding: 10px;
}

.soy{
    text-align: center;
    font-family: yesterday;
    font-size: 100px;
}

.miFoto{
    background-color: #8C7983;
}

.miFoto img{
    width: 50%;
    display: inline-block;
}

.miFoto img{
    display: inline;
    margin: 10px;
    padding: 10px;
}

/* La idea acá sería que el texto esté al lado de la imagen, pero no se porqué no estaría pudiendo */

.miFoto p{
    display: inline;
}

.contacto{
    font-size: 20px;
}

footer{
    margin-top: 30px;
}

footer{
    background-color: #8C7983;
    color: white;
}

footer{
    text-align: center;
}

