@font-face {
    font-family: Yesterday;
    src: url(fonts/YesterdayMorning_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: cafe;
    src: url(fonts/Louis\ George\ Cafe.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cafe;
}

.navbar{
    height: 80px;
    margin-bottom: 5px;
    background-color: #8C7983;
    p{
        color: white;
        font-size: 25px;
        span{
            color: black;
        }    
    }
}

.navbar-brand img{
    height: 60px;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: black !important;
}

.call{
    width: 100%;
    height: 700px;
    color: black;
    margin-top: 80px;
    /* background-color: rgba(51, 51, 51, 0.226); */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
    background-image: url(images/portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8)
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.presentacion p{
    text-align: center;
    font-size: 30px;
}

#bienvenido{
    font-family: yesterday;
    font-size: 50px;
}

.guia{
    text-align: center;
    font-size: 30px;
    background-color: #8c798388;
    padding: 12px;
    .consultaGuia{
        margin-top: 10px;
        padding: 10px;
        background-color: #8C7983;
        text-decoration: none;
        color: white;
        text-align: center;
        border-radius: 10px;
        border-style: double;
    }
    .consultaGuia:hover{
        color: black;
    }    
}

.containerCarousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promoción{
    text-align: center;
    .descuentoPasaje{
        margin-top: 10px;
        padding: 10px;
        background-color: #8C7983;
        text-decoration: none;
        color: white;
        float: center;
        border-radius: 10px;
        border-style: double;
    }
    .descuentoPasaje:hover{
        color: black;
    }
}

/* pagina CURSOS */
.textoCursos{
    text-align: center;
    font-size: 30px;
}

.nleftcurso1{
    height: 400px;
    width: 50%;
    background-color: #8c7983af;
    background-size: cover;
    background-position: center;
    background-image: url(images/fotografía.jpg)
}

.nrightcurso1{
    background-color: #8c798365;
    .trabajo{
        font-family: yesterday;
        font-size: 50px;
        text-align: center;
        background-color: #8c79837a;
        
    }
}



.nrightcurso2{
    height: 400px;
    width: 50%;
    background-color: #8c7983af;
    background-size: cover;
    background-position: center;
    background-image: url(images/redesociales.avif)
}

.nleftcurso2{
    background-color: #8c798365;
    .fotografia{
        font-family: yesterday;
        font-size: 50px;
        text-align: center;
        background-color: #8c79837a;
    }
}

/* página GUIAS */
.proponemos{
    text-align: center;
    font-size: 30px;
}

.nleft{
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(./images/argentina.jpg);
}

.argentina{
    font-family: yesterday;
    font-size: 60px;
    text-align: center;
    background-color: #8c798344;
}

.lista{
    margin: 10px;
    padding: 10px;
}

.video{
    margin: 10px;
    padding: 10px;
}

/* Pagina SOBRE MI */
.soy{
    text-align: center;
    font-family: yesterday;
    font-size: 100px;
}

.nleftyo{
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(images/sobremi.jpg);
}

.nrightyo{
    background-color: #8c79833a;
}

/* pagina CONTACTO */
.miFoto p{
    display: inline;
}

.contacto{
    font-size: 20px;
    margin: 15px;
    background-image: linear-gradient(#8c798381 70%,white);
    .contacta{
        font-family: yesterday;
        font-size: 50px;
    }
}

/* FOOTER */
footer{
    margin-top: 30px;
    background-color: #8C7983;
    color: white;
    text-align: center;
    .paginas a{
        text-decoration: none !important;
        color: white;
    }
    .paginas a:hover{
        color: black;
    }
    .redes i{
        font-size: 40px;
        margin: 10px;
        transform: rotate(0);
        transition: all 1s;
    }
    .redes i:hover{
        color: black;
        transform: rotateY(360deg);
    }
}

@media only screen and (min-width:0) and (max-width:576px) {
    .navbar-collapse{
        background-color: #8c798381; 
        display: flex;
        justify-content: center !important;
    }
}

@media only screen and (max-width:574px){
    .nleftcurso1{
        width:100%;
    }
    .nrightcurso2{
        width:100%;
    }
    .contacto{
        text-align: center;
    }
    .nleft{
        width: 100%;
    }
}